<!DOCTYPE html>
<html>
<head>
	<title>Davide De Rueda</title>
	<link rel="stylesheet" type="text/css" href="./../css/styles.css">
</head>
<body>
</html>
<div class="all">
	<div class="all__about" id="about">
		<div class="all__about__name">
			<h1><span>David </span> De Rueda</h1>
		</div>
		<div class="all__about__social">
			<a href="#"><img src="./../img/twitter.svg"></a>
			<a href="#"><img src="./../img/fb.svg"></a>
			<a href="#"><img src="./../img/insta.svg"></a>
		</div>
		<div class="all__about__pict">
			<img src="./../img/portrait.png">
		</div>
		<div class="all__about__title">
			<h2><span>About </span> Me</h2>
		</div>
		<div class="all__about__biograph">
			<p>My curiosity has always been attracted to abandoned and unusual places. It’s something I have had since I was a kid. At the time, I didn’t know there was a name for this, I just wanted to discover what was behind the walls of these strange structures.

			I think my first real urban exploration (Urbex) was an abandoned u-boat bunker from the Second World War. It was huge and I spent many hours inside, a real labyrinth. I was really thrilled by this discovery, I felt like I was a little Indiana Jones! It never left me and I’ve kept exploring since then, always looking for new places to investigate.

			A few years later, after many trips in France and the neighboring countries, I wanted to go further. That’s how I started a journey through abandoned America, from New York to San Francisco. During this road trip, I took pictures in dozens of places and filmed American explorers for my first documentary, called Urban Escape.

			In 2015, Nikon asked me what would be my dream photography assignment. The result was a 45 days trip through 9 countries, from Italy to Kazakhstan. During this journey, I saw the most impressive places I’ve ever had the chance to explore. And it’s only the beginning!</p>
		</div>
		<div class="all__about__menu">
			<a href="#1"><span>NEW</span><br />LAND</a>
			<a href="#2"><span>THE</span><br />LINE</a>
			<a href="#3"><span>URBAN</span><br />ESCAPE</a>			
		</div>
	</div>
	<div class="all__project" id="1">
		<div class="all__project__title">
			<h2><span>New</span>Land</h2>
		</div>
		<div class="all__project__desc">
			<p>Mission Skylab landed on a unexplored planet, searching for lost sound waves.</p>
		</div>
		<div class="all__project__achiev">
			<img src="./../img/img1.jpg" id="img1">
			<p>Brutal et inconnu. Ce sont les mots qui pourraient décrire l’atterrissage dans cette région inexplorée à la limite de l’espace et du temps. On ne savait pas ce qui nous attendait mais on espérait faire une découverte. Le succès de la mission pourrait signifier beaucoup pour l’avenir.</p>
			<img src="./../img/img2.jpg" id="img2">
			<p>Brutal et inconnu. Ce sont les mots qui pourraient décrire l’atterrissage dans cette région inexplorée à la limite de l’espace et du temps. On ne savait pas ce qui nous attendait mais on espérait faire une découverte. Le succès de la mission pourrait signifier beaucoup pour l’avenir.</p>
		</div>
		<div class="all__project__menu">
			<a href="#about"><span>About </span> Me</a>
			<a href="#2"><span>THE</span><br />LINE</a>
			<a href="#3"><span>URBAN</span><br />ESCAPE</a>			
		</div>
	</div>
	<div class="all__project" id="2">
		<div class="all__project__title">
			<h2><span>The</span>Line</h2>
		</div>
		<div class="all__project__desc">
			<p>Nikon has partnered with me for a six week journey covering nine countries in pursuit of the relics of Europe’s recent past – with a particular focus on the Cold War Era and exploring the former Soviet Union heartland. From an abandoned radar base to two long-forgotten Soviet spacecrafts, these images form part of Nikon’s Project Spotlight: Abandoned Places.</pp>
		</div>
		<div class="all__project__achiev">
			<img src="./../img/img3.jpg" id="img3">
			<p>Linnahall is a former concert hall in Tallinn, Estonia. With a two minute exposure, I could reveal the architecture of the place, which otherwise sat in darkness. The central framing gives the photograph its power, drawing the eye right to the stage. To me, it almost looks like a spaceship.</p>
			<img src="./../img/img4.jpg" id="img4">
			<p>Brutal et inconnu. Ce sont les mots qui pourraient décrire l’atterrissage dans cette région inexplorée à la limite de l’espace et du temps. On ne savait pas ce qui nous attendait mais on espérait faire une découverte. Le succès de la mission pourrait signifier beaucoup pour l’avenir.</p>
		</div>
		<div class="all__project__menu">
			<a href="#1"><span>NEW</span><br />LAND</a>
			<a href="#about"><span>About </span> Me</a>
			<a href="#3"><span>URBAN</span><br />ESCAPE</a>			
		</div>
	</div>
	<div class="all__project" id="3">
		<div class="all__project__title">
			<h2><span>Urban</span>Escape</h2>
		</div>
		<div class="all__project__desc">
			<p>From New York to San Francisco, live a journey through abandoned America. What does a cooling tower look like from above? How do you climb New York's bridges? How does a city decay? Where are America's nuclear missile silos hidden? These are the questions that we decided to answer on a three-month road trip through the United States.</p>
		</div>
		<div class="all__project__achiev">
			<img src="./../img/img5.jpg" id="img5">
			<p>Brutal et inconnu. Ce sont les mots qui pourraient décrire l’atterrissage dans cette région inexplorée à la limite de l’espace et du temps. On ne savait pas ce qui nous attendait mais on espérait faire une découverte. Le succès de la mission pourrait signifier beaucoup pour l’avenir.</p>
			<img src="./../img/img6.jpg" id="img6">
			<p>Brutal et inconnu. Ce sont les mots qui pourraient décrire l’atterrissage dans cette région inexplorée à la limite de l’espace et du temps. On ne savait pas ce qui nous attendait mais on espérait faire une découverte. Le succès de la mission pourrait signifier beaucoup pour l’avenir.</p>
		</div>
		<div class="all__project__menu">
			<a href="#1"><span>NEW</span><br />LAND</a>
			<a href="#2"><span>THE</span><br />LINE</a>
			<a href="#about"><span>About </span> Me</a>			
		</div>
	</div>
</div>
</body>

