@import 'blocs/about';
@import 'blocs/project';

@font-face{
	 font-family: "franklin";
	 src: url("./..//fonts/LibreFranklin-Light.ttf");
}

@font-face{
	 font-family: "basker";
	 src: url("./..//fonts/LibreBaskerville-Regular.ttf");
}

@keyframes left{
  from{
    transform: translateX(-1000px);
  }
  to{
    transform: translateX(0px);
  }
}

@keyframes right{
  from{
    transform: translateX(1000px);
  }
  to{
    transform: translateX(0px);
  }
}

@keyframes top{
  from{
    transform: translateY(-1000px);
  }
  to{
    transform: translateY(0px);
  }
}

@keyframes bottom{
  from{
    transform: translateY(1000px);
  }
  to{
    transform: translateY(0px);
  }
}

