@import 'blocs/about';
@import 'blocs/project';

@font-face{
	 font-family: "franklin";
	 src: url("./..//fonts/LibreFranklin-Light.ttf");
}

@font-face{
	 font-family: "basker";
	 src: url("./..//fonts/LibreBaskerville-Regular.ttf");
}
